<!DOCTYPE html>
<html lang="en">
<head>

<style type="text/css">
body {

  padding: 30px;
}

h2 {
  color:DodgerBlue;

}
h5 {

  font-size: 10px;
  color:grey;

}

h4 {
  margin-Top:20px;
  color:#464646;

}

button {
  margin-Top:40px;


}



</style>


	<meta charset="utf-8">
	<title > My Machine Learning Model! </title>
	<!-- CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<!-- Navbar -->
	

</head>
<body>
	<div class="login">
		<h2>Machine learning model for predicting thermoelectric properties</h2>
		<h4>This model was implemented with data extracted from published articles, totally up to 1500 datasets</h4>
		<h5>You can use this machine learning model to predict ZT value of thermoelectric materials with dopant from 500 to 700 degree celsius</h5>
		<br>
		<b>Fill the available materials:</b>
	
		<form action="/action_page.php" style="color:red;">
		<ul style="color:red;">
		<input type="radio" id="type1" name="material" value="PbTe" onclick="myFunction1()">
		<label for="type1"> PbTe</label><br>

		<input type="radio" id="type2" name="material" value="Co4Sb12"  onclick="myFunction2()">
		<label for="type2"> Co<sub>4</sub>Sb<sub>12</sub></label><br>

		<input type="radio" id="type3" name="material" value="Mg2Si" onclick="myFunction3()">
		<label for="type3"> Mg<sub>2</sub>Si</label><br>

		<input type="radio" id="type4" name="material" value="BiCuSeO" onclick="myFunction4()">
		<label for="type4"> BiCuSeO</label><br>

		<input type="radio" id="type5" name="material" value="Cu2Se" onclick="myFunction5()" >
		<label for="type5"> Cu<sub>2</sub>Se</label><br><br>


		</ul>
		</form>
			<form action="{{url_for('predict')}}" method="post" >
				<p>

				
			
				<p id="demo"></p>
				<b   style="color:grey;" >set the dopant and contents for substitution</b>
				<br>
				<p id="host1"></p>
				<select id="dopant1" onChange="getMaterial()">
					<option>dopant 1</option>
				</select>
				<select id="doped_contents1" onChange="getMaterial()">
					<option>0</option>
				</select>
				<br>
				<br>
				<p id="host2"></p>
				
				<select id="dopant2"  onChange="getMaterial()">
					<option >dopant 2</option>
				</select>
				<select id="doped_contents2"  onChange="getMaterial()">
					<option>0</option>
				</select>
				<br>
				<br>

				<b id="mat1"></b><sub><b id="con1"></b></sub><b id="dopant_mat1" style="color:#e47200;"></b><sub><b id="dop_con1" style="color:#e47200;"></b></sub>
				<b id="mat2"></b><sub><b id="con2"></b></sub><b id="dopant_mat2" style="color:#e47200;"></b><sub><b id="dop_con2" style="color:#e47200;"></b></sub>
				<b id="mat3"></b>
				<b id="mat4"></b>
			
				<p id="predict_mat"></p>
				<p id="predict_mat_con" name="formula"></p>
				<br>
				<br>
				<br>
				<b   style="color:grey;" >material, for example, Pb0.9Mg0.1Te, Bi0.8K0.2CuSeO</b>
				<br>
    	
   				<b   style="color:red;" >{{error}}</b>
    			<br>
				<br>
			
    			<b   style="color:grey;" >sintering temperature in celsius such as 600, 800, 1,000</b>
				<br>
				<input type="text" name="sin_temp" placeholder="600" required="required" >
				<input type="text" name="formula" placeholder="600" required="required" >

				<br>
				<br>
				<button type="submit" class="btn btn-primary btn-block btn-large"  > Predict Value!</button>
				
		 		</p>
			</form>
			<br>
	    <br>
		<b>{{pic}}</b>
		<br>
        <picture>
				<img class="plot" src="data:image/png;base64, {{ image2 }}" >
		
        </picture>
		
    	

	   
	</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script>
	var chemicalElement =['H', 'He', 'Li', 'Be', 'B', 'C', 'N', 'O', 'F', 'Ne', 'Na',
	'Mg', 'Al', 'Si', 'P', 'S', 'Cl', 'Ar', 'K', 'Ca', 'Sc',
	'Ti', 'V', 'Cr', 'Mn', 'Fe', 'Co', 'Ni', 'Cu', 'Zn', 'Ga',
	'Ge', 'As', 'Se', 'Br', 'Kr', 'Rb', 'Sr', 'Y', 'Zr', 'Nb',
	'Mo', 'Tc', 'Ru', 'Rh', 'Pd', 'Ag', 'Cd', 'In', 'Sn', 'Sb',
	'Te', 'I', 'Xe', 'Cs', 'Ba', 'La', 'Ce', 'Pr', 'Nd', 'Pm',
	'Sm', 'Eu', 'Gd', 'Tb', 'Dy', 'Ho', 'Er', 'Tm', 'Yb', 'Lu',
	'Hf', 'Ta', 'W', 'Re', 'Os', 'Ir', 'Pt', 'Au', 'Hg', 'Tl',
	'Pb', 'Bi', 'Po', 'At', 'Rn', 'Fr', 'Ra', 'Ac', 'Th', 'Pa',
	'U', 'Np', 'Pu', 'Am', 'Cm', 'Bk', 'Cf', 'Es', 'Fm', 'Md',
	'No', 'Lr', 'Rf', 'Db', 'Sg', 'Bh', 'Hs', 'Mt', 'Ds', 'Rg',
	'Cn', 'Nh', 'Fl', 'Mc', 'Lv', 'Ts', 'Og']

	var options = [ 'Ac','Ag','Al','Am','Ar','At' ,'Au' ,'As', 'B','Ba', 'Be','Bh','Bi','Bk','Br',  'C', 'Ca', 'Ce', 'Cf',  'Cd', 'Cl','Cm','Cn',  'Co','Cr','Cs', 'Cu',
	'Db', 'Ds', 'Dy','Er', 'Es','Eu','F', 'Fe', 'Fl','Fm', 'Fr', 'Ga', 'Gd','Ge', 'H','He', 'Hf', 'Hg', 'Ho',  'Hs','I',  'Ir','In','K','Kr', 'La', 'Li', 'Lr','Lu','Lv', 
	'Mc','Md','Mg', 'Mn','Mo','Mt', 'N','Na','Nd','Nb', 'Ne', 'Np',  'Ni', 'Nh','No', 'O','Og','Os','P','Pa','Pb','Pd', 'Pm','Po','Pr','Pt','Pu','Rb','Ru',
	'Ra','Re', 'Rf','Rh', 'Rg','Rn','S','Sb','Sc', 'Se','Sg','Si',  'Sm', 'Sn', 'Sr','Ta', 'Tb', 'Tc','Te', 'Th','Ti','Tl','Tm', 'Ts','U','V','W', 'Xe','Y', 'Yb', 'Zn','Zr',
	]
	var doped_contents = [0.02, 0.05, 0.08, 0.1, 0.3, 0.5, 0.7, 0.9]

//here for dropdown list selection
	var select = document.getElementById("dopant1");
    for(var i = 0; i < options.length; i++) {
    var opt = options[i];
    var el = document.createElement("option");
    el.textContent = opt;
    el.value = opt;
    select.appendChild(el);
} 
	var select = document.getElementById("dopant2");
    for(var i = 0; i < options.length; i++) {
    var opt = options[i];
    var el = document.createElement("option");
    el.textContent = opt;
    el.value = opt;
    select.appendChild(el);
} 
	var content = document.getElementById("doped_contents1");
	for(var i = 0; i < doped_contents.length; i++) {
    var opt = doped_contents[i];
    var el = document.createElement("option");
    el.textContent = opt;
    el.value = opt;
    content.appendChild(el);
} 	
	var content = document.getElementById("doped_contents2");
	for(var i = 0; i < doped_contents.length; i++) {
	var opt = doped_contents[i];
	var el = document.createElement("option");
	el.textContent = opt;
	el.value = opt;
	content.appendChild(el);
} 

//เลือก material ที่ต้องการ
	function getMaterial() {
		

		var mat1="";
		var con1="";
		var dopant1="";
		var dop_con1="";

		var mat2="";
		var con2="";
		var dopant2="";
		var dop_con2="";

		var mat3 ="";
		var mat4 ="";
		var mat_prediction="";
		if(document.getElementById("host1").innerHTML == "Pb"){
			 mat1 = "Pb"
			 con1 = 1-document.getElementById("doped_contents1").value
			 dopant1 = document.getElementById("dopant1").value
			 dop_con1 = document.getElementById("doped_contents1").value

			 mat2 = "Te"
			 con2 = 1-document.getElementById("doped_contents2").value
			 dopant2 = document.getElementById("dopant2").value
			 dop_con2 = document.getElementById("doped_contents2").value
			
			mat_prediction = mat1 + con1.toFixed(2)+dopant1+ dop_con1 + mat2 +con2.toFixed(2)+dopant2+ dop_con2
		} else if (document.getElementById("host1").innerHTML == "Co"){
			mat1 = "Co"
			con1 = 4-document.getElementById("doped_contents1").value
			dopant1 = document.getElementById("dopant1").value
			dop_con1 = document.getElementById("doped_contents1").value

			mat2 = "Sb"
			con2 = 12-document.getElementById("doped_contents2").value
			dopant2 = document.getElementById("dopant2").value
			dop_con2 = document.getElementById("doped_contents2").value
		   
		    mat_prediction = mat1 + con1.toFixed(2)+dopant1+ dop_con1 + mat2 +con2.toFixed(2)+dopant2+ dop_con2
		} else if (document.getElementById("host1").innerHTML == "Mg"){
			mat1 = "Mg"
			con1 = 2-document.getElementById("doped_contents1").value
			dopant1 = document.getElementById("dopant1").value
			dop_con1 = document.getElementById("doped_contents1").value

			mat2 = "Si"
			con2 = 1-document.getElementById("doped_contents2").value
			dopant2 = document.getElementById("dopant2").value
			dop_con2 = document.getElementById("doped_contents2").value
		   
		    mat_prediction = mat1 + con1.toFixed(2)+dopant1+ dop_con1 + mat2 +con2.toFixed(2)+dopant2+ dop_con2
		}else if (document.getElementById("host1").innerHTML == "Bi"){
			mat1 = "Bi"
			con1 = 1-document.getElementById("doped_contents1").value
			dopant1 = document.getElementById("dopant1").value
			dop_con1 = document.getElementById("doped_contents1").value

			mat2 = "Cu"
			con2 = 1-document.getElementById("doped_contents2").value
			dopant2 = document.getElementById("dopant2").value
			dop_con2 = document.getElementById("doped_contents2").value

			mat3 = "Se"
			mat4 = "O"
		   
		    mat_prediction = mat1 + con1.toFixed(2)+dopant1+ dop_con1 + mat2 +con2.toFixed(2)+dopant2+ dop_con2
		}else if (document.getElementById("host1").innerHTML == "Cu"){
			mat1 = "Cu"
			con1 = 2-document.getElementById("doped_contents1").value
			dopant1 = document.getElementById("dopant1").value
			dop_con1 = document.getElementById("doped_contents1").value

			mat2 = "Se"
			con2 = 1-document.getElementById("doped_contents2").value
			dopant2 = document.getElementById("dopant2").value
			dop_con2 = document.getElementById("doped_contents2").value
		   
		    mat_prediction = mat1 + con1.toFixed(2) + dopant1+ dop_con1 + mat2 + con2.toFixed(2) + dopant2+ dop_con2
		}


		document.getElementByName("formula").innerHTML = mat_prediction.toString()
		document.getElementById("mat1").innerHTML =mat1
		document.getElementById("con1").innerHTML =con1
		document.getElementById("dopant_mat1").innerHTML =dopant1
		document.getElementById("dop_con1").innerHTML =dop_con1

		document.getElementById("mat2").innerHTML =mat2
		document.getElementById("con2").innerHTML =con2
		document.getElementById("dopant_mat2").innerHTML =dopant2
		document.getElementById("dop_con2").innerHTML =dop_con2

		document.getElementById("mat3").innerHTML =mat3
		document.getElementById("mat4").innerHTML =mat4
	}


	  function myFunction1() {
		var x1 = document.getElementById("type1").value;
		document.getElementById("demo").innerHTML = x1
		document.getElementById("host1").innerHTML = "Pb"
		document.getElementById("host2").innerHTML = "Te"
		document.getElementById("predict_mat_con").innerHTML = "PbTe"
	  }
	  function myFunction2() {
		var x2 = document.getElementById("type2").value;
		document.getElementById("demo").innerHTML = x2
		document.getElementById("host1").innerHTML = "Co"
		document.getElementById("host2").innerHTML = "Sb"
		document.getElementById("predict_mat_con").innerHTML = "Co14Sb12"
	  }
	  function myFunction3() {
		var x3 = document.getElementById("type3").value;
		document.getElementById("demo").innerHTML = x3
		document.getElementById("host1").innerHTML = "Mg"
		document.getElementById("host2").innerHTML = "Si"
		document.getElementById("predict_mat_con").innerHTML = "Mg2Si"
	  }
	  function myFunction4() {
		var x4 = document.getElementById("type4").value;
		document.getElementById("demo").innerHTML = x4
		document.getElementById("host1").innerHTML = "Bi"
		document.getElementById("host2").innerHTML = "Cu"
		document.getElementById("predict_mat_con").innerHTML = "BiCuSeO"
	  }
	  function myFunction5() {
		var x5 = document.getElementById("type5").value;
		document.getElementById("demo").innerHTML = x5
		document.getElementById("host1").innerHTML = "Cu"
		document.getElementById("host2").innerHTML = "Se"
		document.getElementById("predict_mat_con").innerHTML = "Cu2Se"
	  }

	  function PredictZT() {
		let predmat = {
			"value": mat_prediction.toString(),
			"type": 'SS'
		}

	
		const request = new XMLHttpRequest()
		request.open('POST', `/predict/${JSON.stringify(predmat)}`)
		request.onload = () => {
			const flaskMessage = request.responseText
			console.log("test",flaskMessage)
		}
		request.send()
	  }
	  function sendData () {
		//document.getElementById("predict_mat_con").innerHTML = "PbTe"
		let predmat = document.getElementById("predict_mat_con").innerHTML
		
		const request = new XMLHttpRequest()
		request.open('POST', `/predict/${JSON.stringify(predmat)}`)
		request.send();
	  }

	
	

</script>

</body>
</html>
